body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading{
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px #ccc dotted;
            text-align: center;
        }
        .form-signin .footer{
            padding-top: 10px;
            margin-top: 20px;
            border-top: 1px #ccc dotted;
            font-weight: 600;
        }
        .fa {
            color: #cc0000;
        }


.bs-example{
      margin: 20px;
    }
.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#ededed;
}


#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}



///************** For the file uploadidng **********************************/

.popbtn {
    background: none repeat scroll 0 0 #4A8BC2;
    border: 1px solid #2C5C84;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: inherit;
    font-weight: bold;
    height: 27px;
    line-height: 22px;
    margin-left: 10px;
    margin-top: 2px;
    padding: 1px 10px;
	cursor:pointer;
}
#forms {
	font-size:17px;
	position:relative;
	margin:50px auto;
	width:750px;
	padding:30px;
	border:1px dotted #00f;
	background:#e1e1e1;
	text-align:center
}
h1 {
    color: #3D7489;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 0 5px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/**********************************************/
